* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #111;
  background-image: url('../img/cosmos.jpg');
  color: #f4f5f7;
  text-align: center;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝',
    'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 24px;
}

h1 {
  margin: 20px 0;
}

button {
  margin-top: 10px;
  padding: 10px;
  color: #f4f5f7;
  background-color: #111;
}

#game {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.score,
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.playing-score {
  position: absolute;
  right: 10px;
}

.life {
  position: absolute;
  left: 10px;
}

.kingyo {
  display: inline-block;
  width: 40px;
  height: 60px;
  background-image: url('../img/kingyo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.score-value {
  font-size: 36px;
  color: yellow;
}

.invisible {
  display: none;
}
